.App {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.button--outlined {
    background: transparent;
    color: var(--primary-main);
}

.button--icon {
    background: transparent;
    padding: 4px;
}

.button--outlined:active {
    background: var(--primary-lite);
}

.button--icon:active {
    background: var(--gray-lite);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}

.header__title {
    display: flex;
    align-items: center;
    width: 350px;
}

.header__title--child:first-child {
    width: 50%
}

.header__title--child:last-child {
    margin-right: 0
}

@media screen and (max-width: 600px) {
    .header {
        align-items: flex-end;
        margin-bottom: 10px;
        width: auto;
    }

    .header__title {
        flex-direction: column;
    }

    .header__title--child {
        width: auto;
        margin-bottom: 10px
    }
}

@media screen and (min-width: 600px) {
    .header {
        align-items: center;
    }

    .header__title {
        flex-direction: row;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .header__title--child {
        margin-right: 12px
    }
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
}

.calendar__header {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--primary-action);
}

.calendar__body {
    border-left: 1px solid;
    border-top: 1px solid;
    border-color: var(--divider);
}

.calendar__cell-wrap {
    border-right: 1px solid;
    border-bottom: 1px solid;
    min-height: 110px;
    /*height: 110px;*/
    border-color: var(--divider);
    text-align: start;
    overflow: auto;
    padding: 8px;
}

.calendar__cell-wrap:hover {
    background: var(--gray-lite);
}

.calendar__cell--inactive {
    opacity: 0.5;
    /*color: var(--divider);*/
}

.calendar__cell--day-off {
    color: var(--primary-action);
}

.calendar__cell--targets {
    margin: 0;
    color: var(--primary-main);
}

.calendar__cell--target {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    border: 1px solid var(--primary-lite);
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 4px;
}

.modal__wrap {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__container {
    border: 1px solid var(--divider);
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.3) 0 7px 29px 0;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 20px;
    max-width: 800px;
    max-height: 800px;
}

@media screen and (max-width: 800px) {
    .modal__container {
        width: 80%;
        height: 80%;
    }
}

@media screen and (min-width: 800px) {
    .modal__container {
        width: 50%;
        height: 50%;
    }
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 16px;
}

.add-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add-form__input {
    width: 100%;
    padding: 8px;
    margin-right: 16px;
    border: 1px solid;
    border-color: var(--divider);
    border-radius: 8px;
}

.add-form__input:focus {
    outline: none;
    border-color: var(--primary-main);
}

.add-form__list {
    height: 100%;
    overflow: auto;
    scroll-behavior: smooth;
    overflow-y: scroll;
    padding-right: 6px;
}

.add-form__list::-webkit-scrollbar {
    width: 6px;
}

.add-form__list::-webkit-scrollbar-thumb {
    width: 4px;
    border-radius: 4px;
    background-color: var(--gray-lite);
}

.divider {
    border-radius: 20px;
}

.divider:last-child {
    display: none
}

.add-form__list-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .App {
        padding-right: 16px;
        padding-left: 16px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
    .App {
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .App {
        padding-right: 60px;
        padding-left: 60px;
    }
}
